/* Universal Selector Reset */

* {
box-sizing: border-box;
padding: 0;
margin: 0;
border: 0;
max-width: 100%;
vertical-align: baseline;
text-align: center;
}

html {
font-size: 62.5%;
font-family: "Titillium Web", sans-serif;
}

body {
font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5 {
font-family: "Bangers", cursive;
letter-spacing: 1px;
margin-bottom: 15px;
}


//Styling starts here


header {
  display: flex;
  flex-direction: column;

  .box {
    background: rgb(170, 168, 168);
    margin: 0 20%;

    img {
      height: 40vh;
    }//closes box img

    .button {
      padding: 1%;
    }//closes box button

  }// closes box




  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    a {
      margin: 1%;
      padding: 0 auto;
    }//closes nav a

  }//closes nav

}//closes header DONT TOUCH


.mid {
  display: flex;
  justify-content: center;
  margin:4% 15%;

  .about {
    width: 55%;
  }//closes mid about

  .learn {
    width: 30%;
  }//closes mid learn

}//closes mid

.work{
  margin: 5% 20%;
  padding: 5% 0;
  background:black;
  color:white;
}//closes work

.contact{
  font-size: 2.5rem;
  .conDiv{
    display:flex;
    justify-content: space-around;
    margin: 0 20%;
    padding: 5%;
    font-size: 2.3rem; 
  }//closes conDiv

}//closes contact

footer{
  margin: 5%;
}//closes footer